$icomoon-font-path: "../fonts" !default;
$images-path:"../images" !default;
$icon-globe: "\f0ac";
$icon-angle-down: "\f107";
$icon-youtube: "\f167";
$icon-google-plus: "\ea88";
$icon-google-plus3: "\ea8a";
$icon-facebook: "\ea8c";
$icon-facebook3: "\ea8e";
$icon-twitter: "\ea91";
$icon-twitter3: "\ea93";
$icon-feed2: "\ea94";
$icon-feed4: "\ea96";
$icon-youtube3: "\ea99";
$icon-world: "\e900";
