<div id='main-form-wrapper' class='animate-500'>
    <p class='sugession-text'>
        Send us your suggestions! If there is a huge request for it, we’ll make it happen! If your seggustion gets included into our database, we will notify you by email!
    </p>
    <textarea placeholder='{{placeholder}}' ng-model='message' maxlength="127">
    </textarea>
    <input type="text" placeholder='{{text}}' ng-model='email' />
    <span class="submitButton" ng-click="submit()">submit</span>
</div>
<p id="thanks" class="sugession-text animate-500">thank you for your suggestions!!!</p>
