<a class="logo logo-text" href='#'>
    <h3>nutella</h3>
</a>
<ul>
    <li>
        <ul>
            <li>
                <a href="" class='icon-facebook'></a>
            </li>
            <li>
                <a href="" class='icon-twitter'></a>
            </li>
            <li>
                <a href="" class='icon-youtube'></a>
            </li>
            <li>
                <a href="" class='icon-world'></a>
            </li>
        </ul>
        <i class="icon-globe"></i>
        <h3>{{city}}</h3>
    </li>
    <li>
        <i class="icon-angle-down"></i>
    </li>
</ul>
